MinOS.iso
bochs/
bochs
bochslog.txt

kernel/target
isodir/boot/kernel.bin
isodir/boot/*.module

userspace/hello-world-c/build

userspace/minlibc/autotools
userspace/minlibc/build
userspace/minlibc/newlib-build
userspace/minlibc/newlib-4.1.0/newlib/libc/sys/minos/Makefile.in
userspace/minlibc/newlib-4.1.0/newlib/libc/sys/minos/aclocal.m4
userspace/minlibc/newlib-4.1.0/newlib/libc/sys/minos/configure

.idea
.vscode

docker_build.sh
docker_run.sh
bochs.bat
bochs.sh

.DS_Store

cargo/

toolchain/prefix
toolchain/bin*
toolchain/gcc*
toolchain/build
