MinOS.iso
bochs/

kernel/target
isodir/boot/kernel.bin
isodir/boot/*.module
userspace/hello-world-c/build

.idea
.vscode

docker_build.sh
docker_run.sh
bochs.bat
bochs.sh

.DS_Store

cargo/
toolchain/prefix
